#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
# Note: Booting from pxe image does not support https for url
url  --url="http://linuxcoe.corp.hp.com/LinuxCOE/RedHat/8.2Server/en/os/x86_64/"

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Root password
rootpw --iscrypted $6$t7zAbYpJF46Sy1Ph$Jt6gRK2VEUdK/nijkW0vgTx162WslKzxjZg/DooyiVoz/hbm0267acAGnS63eTOL6TxE12kp.oJnMT4JSyyiX/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
@debugging
@development
@system-admin-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
